@model IEnumerable<TCC.DivTech.OdontoLook.Models.Workout>

@(Html.DevExtreme().Scheduler()
        .DataSource(Model)
        .TextExpr("Text")
        .StartDateExpr("StartDate")
        .EndDateExpr("EndDate")
        .Views(new SchedulerViewType[] {
SchedulerViewType.Month
        })
        .CurrentView(SchedulerViewType.Month)
        .CurrentDate(new DateTime(2018, 6, 19, 11, 30, 0))
        .FirstDayOfWeek(FirstDayOfWeek.Monday)
        .StartDayHour(8)
        .EndDayHour(19)
        .ShowAllDayPanel(false)
        .Height(600)
        .Groups(new string[] { "EmployeeID" })
        .Resources(res =>
        {
            res.Add()
                .FieldExpr("EmployeeID")
                .ColorExpr("Color")
                .DisplayExpr("Text")
                .ValueExpr("Id")
                .AllowMultiple(false)
                .Label("Employee")
                .DataSource(new object[] {
       new {
           Id = 1,
           Text = "Dr. Consulta",
           Color = "#56ca85",
           Avatar = "../../images/gym/coach-man.png",
           Age = 27,
           Discipline = "Dentista"
       },
       new {
           Id = 2,
           Text = "Sandra Johnson",
           Color = "#ff9747",
           Avatar = "../../images/gym/coach-woman.png",
           Age = 25,
           Discipline = "ABS, Fitball, StepFit"
       }
                });
        })
        .DataCellTemplate(new JS("dataCellTemplate"))
        .ResourceCellTemplate(@<text>
            <div>
                <div class="name" style="background-color: <%= data.Color %>;">
                    <h2><%= data.Text %></h2>
                </div>
                <div class="avatar" title="<%= data.Text %>">
                    <img src="<%= data.Avatar %>" alt="" />
                </div>
                <div class="info" style="color: <%= data.Color %>;">
                    Age: <%= data.Age %> <br />
                    <b><%= data.Discipline %></b>
                </div>
            </div>
        </text>)
)

<script>
    function isWeekEnd(date) {
        var day = date.getDay();
        return day === 0 || day === 6;
    }

    function getCurrentTraining(index, employeeID) {
        var currentTraining,
            result = (index + employeeID) % 3;

        switch(result) {
            case 0:
                currentTraining = "abs-background";
                break;
            case 1:
                currentTraining = "step-background";
                break;
            case 2:
                currentTraining = "fitball-background";
                break;
            default:
                currentTraining = "";
        }

        return currentTraining;
    }

    function dataCellTemplate(cellData, index, container) {
        var employeeID = cellData.groups.EmployeeID,
            currentTraining = getCurrentTraining(index, employeeID);

        if(isWeekEnd(cellData.startDate)) {
            container.addClass("employee-weekend");
        }
        container
            .addClass("day-cell")
            .addClass(currentTraining)
            .addClass("employee-" + employeeID)
            .text(cellData.text);
    }
</script>
