
.dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
}

.dx-scheduler-group-header-content {
    position: relative;
    margin-top: 5px;
}

.avatar {
    width: 155px;
    float: left;
    overflow: hidden;
    position: relative;
    height: 125px;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.name h2 {
        color: #fff;
        text-align: left;
        padding: 0 0 5px 175px;
    }

.info {
    width: auto;
    text-align: left;
    height: 100%;
    font-size: 11pt;
    font-weight: normal;
    padding: 25px 20px;
}

.userInfo div {
    margin: 20px;
}

.day-cell {
    padding-right: 6px;
    background-position: center center;
    background-repeat: no-repeat;
}

.day-cell.employee-1 {
        background-color: rgba(86, 202, 133, 0.1);
    }

.day-cell.employee-2 {
        background-color: rgba(255, 151, 71, 0.1);
    }

.employee-weekend.employee-1 {
    background-color: rgba(86, 202, 133, 0.2);
}

.employee-weekend.employee-2 {
    background-color: rgba(255, 151, 71, 0.2);
}

.abs-background {
    background-image: url("../../images/gym/icon-abs.png");
}

.step-background {
    background-image: url("../../images/gym/icon-step.png");
}

.fitball-background {
    background-image: url("../../images/gym/icon-fitball.png");
}
